.btnBox{
    
}
.btn{
    width: 20%;
    display: block;
    padding: 10px;
    border-radius: 20px;
    margin: 20px 0;
    outline: none;
    border: none;
    display: inline-block;
    margin: 20px;
}
.addToCart{
    
}
.removeFromCart{

}