.btnBox{
    
}
.btn{
    width: 20%;
    display: block;
    padding: 10px;
    border-radius: 20px;
    margin: 20px 0;
    outline: none;
    border: none;
    display: inline-block;
    margin: 20px;
    background-color: white;
    color:white;
}
.addToCart{
    color:rgb(77, 77, 249);
    border:1px solid rgb(77, 77, 249);
    
}
.removeFromCart{
    background-color: white;
    border:1px solid red;
    color:red;
}
.contentBox{
    display:flex;
    flex-wrap: wrap;
    padding: 10px;
    margin:auto;
}
.itemDescription{
    padding: 10px;
}
@media screen and  (max-width:1000px){
    .contentBox{
        width: 90vw;
        font-size: 14px;
    }
    .btn{
        width: 50%;
    }

}
@media screen and (max-width:500px){

}