.btnBox{
    
}
.btn{
    width: 20%;
    display: block;
    padding: 10px;
    border-radius: 20px;
    margin: 20px 0;
    outline: none;
    border: none;
    display: inline-block;
    margin: 20px;
}
.addToCart{
    
}
.removeFromCart{
    
}
.contentBox{
    display:flex;
    flex-wrap: wrap;
    padding: 10px;
    margin:auto;
}
@media screen and  (max-width:1000px){
    .contentBox{
        width: 90vw;
        font-size: 14px;
    }
}
@media screen and (max-width:500px){

}