.main{
    height: auto;
    width: 100vw;
}
.filterBox{
    display: inline-block;
    min-width: 20vw;
    vertical-align: top;
}
.filterForm{
    position: fixed;
    top:50vh;
    transform: translateY(-50%);
    padding-left: 20px;
}
label{
    font-size: 20px;
}
input[type='checkbox']{
    padding: 20px;
    margin:10px;
}
.itemList{
    width: 70vw;
    display: inline-block;
    flex-direction: column;
    flex-wrap: wrap;
}
.itemCard{
    margin:20px ;
    box-shadow: 0 0 2px grey;
    border-radius: 20px;
}
.itemInfo{
    padding: 10px;
    display: inline-block;
}
.itembox{
    width: 100%;
    display: flex;
    position: relative;
}
.itemInfo p{
    padding: 10px;
}

.infoTitle{
    display: inline;
}
.star{
    height: 15px;
    width: 15px;
}
