.main{
    height: auto;
    width: 100vw;
    display: flex;
}

.filterBox{
    
    min-width: 20vw;
    height: 100vw;
}
.itemList{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.itemCard{
    margin:20px ;
    box-shadow: 0 0 2px grey;
    border-radius: 20px;
}
.itemInfo{
    /* border: 1px solid red; */
    padding: 10px;
    display: inline-block;
}
.itembox{
    width: 100%;
    display: flex;
    position: relative;

    
}
.itemInfo p{
    padding: 10px;
}

.infoTitle{
    display: inline;
}
.star{
    height: 15px;
    width: 15px;
}
.btnBox{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 0%;
}
.btn{
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 20px;
    margin: 20px 0;
    outline: none;
    border: none;
}

.addToCart{
    
}
.removeFromCart{

}